@model IEnumerable<wypozyczalnia_gier.Models.Deweloper>

@{
    ViewData["Title"] = "ListaDeweloperowGier";
}

<h1>Lista deweloperow</h1>

<p>
    <a asp-action="Add">Dodaj nowego dewelopera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
    <div>
        <a asp-action="Index" asp-controller="Gry">Powrót</a>
    </div>
</table>
